@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<head>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/component.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <hr />
    <h1>
        Please check your email to reset your password.
    </h1>
</div>

