<appSettings>
  <add key="username" value="lisa.jang@gmail.com"/>
  <add key="password" value="fowhqntgbeykrvep"/>
  <add key="emailto" value="lisa.jang@gmail.com"/>
  <add key="emailfrom" value="lisa.jang@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
  <add key="facebookid" value="1723192397825486"/>
  <add key="facebooksecret" value="99e3e022616da850755c9dbe577f0c66"/>
  <add key="linkedinid" value="78e0b2bttfpaok"/>
  <add key="linkedinsecret" value="Ke42jkaSFuraXe8T"/>
</appSettings>
